#about {
    background-color: #e7eaf6;
}

section#about header {
    padding-top: 5rem;
    border-top: 2px solid #183661;
}

section#about header h2 {
    text-align: center;
    margin-bottom: 2em;
}

section#about header p {
    text-align: center;
    margin-bottom: 1em;
}

article.section-one {
    padding: 2rem;
    height: 400px;
    background-color: #a2a8d3;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
    /* margin-bottom: -10vw; */
    clear: both;
}

.hexagon {
    background-color: #e7eaf6;
    position: relative;
    width: 40vmin;
    height: 35vmin;
    margin: 0 2rem;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    float:left;
}


.hexagon:before {
    content: '';
    width: 30vmin;
    height: 30vmin;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);   
}


.hexagon img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0% 50%;
    clip-path: inherit;
    transition: transform 200ms ease-in 150ms;
}

.hexagon:hover img {
    transform: translate(-50%, -50%) rotate(-110deg);
}


.hexagon figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 20vmin;
    margin: 0 auto;
    padding-top: 5rem;
    text-align: center;
}

.hexagon figure h2 {
    font-size: 1em;
}

.description h4 {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.description p {
    margin-bottom: 1em;
}


article.section-two {
    padding: 2rem;
    height: 400px;
    /* padding-top: 10vw; */
    background-color: #e7eaf6;
    clear: both;
}

article.section-two .hexagon {
    float: right;
    background-color: #a2a8d3;
}