#about {
    background-color: var(--color-bgrd-main);
}


section#about header {
    padding-top: var(--section-padding-top);
    border-top: 2px solid rgba(24, 54, 97,0.2);
}

@media screen and (max-width: 500px) {
    section#about header{
        padding-top: calc(var(--section-padding-top)  / 2);
    }
}

section#about header h2 {
    font-size: calc(var(--head2-size) - 0.5em);
    color: var(--color-text-header);
    text-align: center;
    margin-bottom: var(--margin-bottom-general);
}

section#about header p {
    color: var(--color-text-header);
    text-align: center;
    margin-bottom: var(--margin-bottom-general);
}

article.section-one {
    padding: 2rem;
    background: var(--color-bgrd-secondary);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); 
}

.hexagon figure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem auto;
    text-align: center;
}

.hexagon img {
    display: block;
    width: 60%;
    height: auto;
    margin: 1rem auto;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.hexagon figure h2 {
    font-size: var(--head2-size);
    font-size: 1em;
}

.description {
    text-align: center;
}

.description h4 {
    font-size: var(--head4-size);
    margin-bottom: var(--margin-bottom-general);
}

.description p {
    margin-bottom: var(--margin-bottom-general);
}

.description p:last-child {
    margin-bottom: calc(7vw + var(--margin-bottom-general));
}

article.section-two {
    padding: 2rem;
    background-color: var(--color-bgrd-main);
}

/* FOR DEVICES WITH HOVER */

@media (hover: hover) and (pointer: fine) {
    
    article.section-one {
        padding: 3rem;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
        clear: both;
    }

    .hexagon {
        background-color: var(--color-bgrd-main); 
        position: relative;
        width: 40vmin;
        height: 35vmin;
        margin: 0 var(--margin-bottom-general);
        clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
        shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
        float:left;
    }

    .hexagon:before {
        content: '';
        width: 30vmin;
        height: 30vmin;
        clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);   
    }

    .hexagon:hover img {
        transform: translate(-50%, -50%) rotate(-110deg);
    }

    .hexagon img {
        width: 100%;
        height: auto;
        margin: 0;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: 0% 50%;
        clip-path: inherit;
        transition: transform 200ms ease-in 150ms;
    }


    .hexagon figure {
        width: 20vmin;
        padding-top: 5rem;
        text-align: center;
        
    }

    article.section-two {
        clear: both;
    }
    
    article.section-two .hexagon {
        background-color: var(--color-bgrd-secondary);
        float: right;
    }

    .description {
        text-align: left;
    }

    .description p {
        width: 80%;
        margin-bottom: 1em;
    }


}