
.site-header {
    max-width: 100vw;
    height: 100vh;
    background: aliceblue   ;
    color: #183661;
    display: grid;
    grid-template-rows: repeat(2, 2rem) minmax(100px,300px);
}

.site-header h1,
.site-header p {
    text-align: center;
    width: 50vw;
    margin: 0 auto;
}

.font {
    font-family: 'Merienda', cursive;
    font-size: 3em; 
}

.site-header > a {
    display: block;
    text-decoration: none;
    width: 30%; 
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.site-header > a:before {
    display: block;
    content: '';
    padding-top: 100%;
    
}
.site-header > a img {
    width: 50%;
    height: auto;
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
}

.social-media-icons  {
    display: flex;   
    justify-content: center;
    align-items: center; 
}

.social-media-icons li {
    list-style: none outside;
}

.social-media-icons a {
    display: block;
    color: #183661;
    padding: 1rem;
}

.social-media-icons i.fab {
    font-size: 1.5em;
}

@media screen and (max-width: 750px) {
    .site-header{
        grid-area: auto;
    }
}
