@import url("https://fonts.googleapis.com/css?family=Lobster|Merienda:700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 701px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 991px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

.font {
  font-family: "Merienda", cursive;
  font-size: 3em;
  color: #183661;
  position: relative;
  top: 1.2rem;
  left: 0.2rem;
}

#nav-toggle span {
  display: none;
}

.main-nav {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100vw;
  background: #dd6b4d;
}

.main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav ul li {
  list-style: none outside;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  text-align: center;
}

.main-nav ul li a {
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  position: relative;
  outline: none;
}

.main-nav ul li a:before {
  display: inline-block;
  content: '';
  height: 10px;
  background: aliceblue;
  position: absolute;
  top: -0.5em;
  left: 0;
  right: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.main-nav ul li a:focus::before, .main-nav ul li a:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

@media screen and (max-width: 750px) {
  .main-nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(250, 250, 250, 0.8);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  }
  .main-nav ul {
    display: block;
  }
  .main-nav ul li {
    display: block;
    list-style: none outside;
    padding: 1em 0;
    opacity: 1;
  }
  .main-nav ul li a {
    display: block;
    background-color: #fff;
    color: #dd6b4d;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 2em;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
  }
  .main-nav ul li a:before {
    height: 5px;
    background: #dd6b4d;
  }
  #nav-main-toggle {
    display: none;
  }
  #nav-toggle {
    color: #dd6b4d;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 1000;
    font-size: 2rem;
  }
  #nav-toggle:before {
    content: '\f0c9';
    color: #dd6b4d;
  }
  #nav-main-toggle:checked ~ .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  #nav-main-toggle:checked + #nav-toggle::before {
    content: '\f00d';
    color: #dd6b4d;
  }
  #nav-main-toggle:checked ~ .main-nav a {
    opacity: 1;
    -webkit-transition: opacity 250ms ease-in-out 250ms;
    transition: opacity 250ms ease-in-out 250ms;
  }
}

.section-header h2 {
  font-size: calc($h2-size - 0.5em);
}

.section-header h2, .section-header p {
  color: #183661;
  text-align: center;
}

.section-header p {
  width: 90%;
  text-align: center;
  font-size: 1.2em;
  margin: 0 auto;
}

.site-header {
  max-width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(231, 234, 246, 0.5)), to(rgba(231, 234, 246, 0.7))), center/cover url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/pattern_(3).svg") no-repeat;
  background: linear-gradient(rgba(231, 234, 246, 0.5), rgba(231, 234, 246, 0.7)), center/cover url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/pattern_(3).svg") no-repeat;
  color: #183661;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.site-header h1 {
  font-size: 2.9em;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / span 1;
  position: relative;
}

.site-header h1::after {
  display: block;
  content: '';
  width: 120px;
  height: 120px;
  background: url("https://image.flaticon.com/icons/svg/1553/1553422.svg") center no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -20%;
  left: calc(50% - 60px);
  -webkit-filter: drop-shadow(0 1.2rem 0.7rem rgba(52, 68, 138, 0.5));
          filter: drop-shadow(0 1.2rem 0.7rem rgba(52, 68, 138, 0.5));
}

.site-header h1, .site-header p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.site-header p {
  font-size: 1.3em;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /span 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 440px) {
  .site-header h1 {
    font-size: calc($h1-size / 2);
  }
  .site-header h1, .site-header p {
    margin-bottom: 2rem;
  }
  .site-header p {
    vertical-align: top;
  }
}

.social-media-icons {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 /span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-icons li::before {
  display: block;
  content: '';
  font-size: 1.5em;
  margin: 1rem;
}

.social-media-icons li.fa-facebook::before {
  content: '\f09a';
}

.social-media-icons li.fa-instagram::before {
  content: '\f16d';
}

.social-media-icons li.fa-twitter::before {
  content: '\f099';
}

.social-media-icons li.fa-github::before {
  content: '\f09b';
}

.social-media-icons li.fa-codepen::before {
  content: '\f1cb';
}

.social-media-icons li a {
  display: block;
  color: #183661;
  padding: 1rem;
}

.social-media-icons li a .media-icon {
  display: none;
}

@media screen and (min-width: 850px) {
  .site-header {
    -ms-grid-columns: 1fr 800px 1fr;
        grid-template-columns: 1fr 800px 1fr;
    -ms-grid-rows: (3rem)[2] minmax(min-content, 250px) 1fr 1fr;
        grid-template-rows: repeat(2, 3rem) minmax(-webkit-min-content, 250px) 1fr 1fr;
        grid-template-rows: repeat(2, 3rem) minmax(min-content, 250px) 1fr 1fr;
  }
  .site-header h1 {
    font-size: 2.9em;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/ span 1;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    position: relative;
  }
  .site-header h1::after {
    display: block;
    content: '';
    width: 150px;
    height: 150px;
    background: url("https://image.flaticon.com/icons/svg/1553/1553422.svg") center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: calc(100% - 150px);
  }
  .site-header h1, .site-header p {
    width: 800px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/ span 1;
  }
  .site-header p {
    margin-top: 2rem;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/ span 1;
  }
  .social-media-icons {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/ span 1;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/ span 1;
  }
}

#about {
  background-color: #a2a8d3;
  border-top: 2px solid rgba(24, 54, 97, 0.2);
}

#about header {
  padding: 4.5rem 0;
  background-color: #e7eaf6;
}

@media screen and (max-width: 500px) {
  section#about header {
    padding-top: calc($section-pt / 2);
  }
}

article.section-one {
  padding: 2rem;
  background: #e7eaf6;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
}

.hexagon div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem auto;
  text-align: center;
}

.hexagon div h2 {
  font-size: 2.2em;
  font-size: 1em;
}

.hexagon div a {
  text-decoration: none;
  color: #183661;
}

.hexagon img {
  display: block;
  width: 60%;
  height: auto;
  margin: 1rem auto;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
          clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.description {
  text-align: center;
}

.description h4 {
  font-size: 1.5em;
  margin-bottom: 2rem;
}

.description p {
  margin-bottom: 2rem;
}

.description p:last-child {
  margin-bottom: calc(7vw + $mb-general);
}

article.section-two {
  padding: 2rem;
  background-color: #a2a8d3;
}

/* 
 * FOR DEVICES WITH HOVER 
 */
@media (hover: hover) and (pointer: fine) {
  article.section-one {
    padding: 3rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
    overflow: hidden;
    clear: both;
  }
  article.section-two {
    overflow: hidden;
    clear: both;
  }
  article.section-two .hexagon {
    background-color: #e7eaf6;
    float: right;
  }
  article.section-two .description {
    text-align: right;
  }
  .hexagon:before {
    content: '';
    width: 30vmin;
    height: 30vmin;
    -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  }
  .hexagon {
    background-color: #a2a8d3;
    position: relative;
    width: 40vmin;
    height: 35vmin;
    margin: 0 2rem;
    -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    float: left;
  }
  .hexagon img {
    width: 100%;
    height: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-clip-path: inherit;
            clip-path: inherit;
    -webkit-transition: -webkit-transform 200ms ease-in 150ms;
    transition: -webkit-transform 200ms ease-in 150ms;
    transition: transform 200ms ease-in 150ms;
    transition: transform 200ms ease-in 150ms, -webkit-transform 200ms ease-in 150ms;
  }
  .hexagon div {
    width: 20vmin;
    padding-top: 2rem;
    text-align: center;
  }
  .hexagon:hover img {
    -webkit-transform: translate(-50%, -50%) rotate(-110deg);
            transform: translate(-50%, -50%) rotate(-110deg);
  }
  .description {
    text-align: left;
    padding-left: 4rem;
  }
  .description p {
    width: 90%;
    margin-bottom: 1em;
  }
}

/* 
 * STYLING THE SERVICES SECTION ON THE MAIN PAGE
 */
#services {
  max-width: 100vw;
  height: 100vh;
  padding: 4.5rem;
  border-top: 2px solid rgba(24, 54, 97, 0.2);
}

.main-wrapper {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* 
 * MAKING THE BUTTON APPEAR 
 */
.card-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  margin: 2%;
  border: 2px solid #a2a8d3;
  -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card-wrapper .service-card {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-wrapper .service-card img {
  width: 10%;
  height: auto;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 0;
}

.card-wrapper .service-card .card-content, .card-wrapper .service-card .card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.card-wrapper .service-card .card-content {
  padding: 1.5rem;
  text-align: center;
}

.card-wrapper .service-card .card-content h3 {
  margin: 2rem;
}

.card-wrapper .service-card .card-overlay {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(162, 168, 211, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.card-wrapper .service-card .card-overlay a {
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #e7eaf6;
  color: #183661;
  font-weight: 600;
  -webkit-box-shadow: 0 0.5em 0.5em 0.1em rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5em 0.5em 0.1em rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
}

.card-wrapper .service-card .card-overlay a:active {
  -webkit-box-shadow: 0 0.3em 0.5em 0.1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.3em 0.5em 0.1em rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1100px) {
  .card-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    margin: 5%;
  }
  .card-content h3,
  .card-text {
    margin: 2rem;
  }
}

.card-wrapper:hover .card-overlay {
  opacity: 1;
}

@media (pointer: fine) and (max-width: 800px) {
  #services {
    height: auto;
    padding-top: calc($section-pt / 2);
  }
  .card-wrapper {
    height: 30vh;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .card-wrapper .service-card img {
    width: 15%;
  }
  .card-wrapper .service-card .card-content h3,
  .card-wrapper .service-card .card-text {
    margin: 1rem;
  }
}

/* 
 * THE SERVICES PAGES LAYOUT 
 */
.banner {
  max-width: 100vw;
  height: 50vh;
  position: relative;
}

.banner.backend {
  background: url("https://images.pexels.com/photos/159282/technology-servers-server-159282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center/cover no-repeat;
}

.banner.backend .banner-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0))), center/cover url("https://images.pexels.com/photos/159282/technology-servers-server-159282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), center/cover url("https://images.pexels.com/photos/159282/technology-servers-server-159282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.banner.frontend {
  background: url("https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80") center/cover no-repeat;
}

.banner.frontend .banner-box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0))), center/cover url("https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), center/cover url("https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80") no-repeat;
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.banner .banner-box h1 {
  padding: 4.5rem 0 1rem 0;
}

.banner .banner-box h1,
.banner .banner-box h3 {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #ededed;
  position: relative;
  z-index: 20;
}

.services-content {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services-content .list {
  width: 40vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

/* 
 * ACCORDION LIST
 */
.panel {
  border: 1px solid #ccc;
  margin: 1px 0;
  border-radius: 3px;
  overflow: hidden;
}

.panel h2 {
  color: #454545;
  font-weight: 400;
  padding: 5px 10px;
  margin: 0;
  background-color: #f6f6f6;
  cursor: pointer;
}

.panel h2:hover {
  background-color: #ededed;
}

.panel div {
  max-height: 0px;
  margin: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}

.panel div p {
  padding: 2rem;
}

.panel input[type="radio"]:checked ~ div {
  max-height: 500px;
  -webkit-transition: max-height 1s ease;
  transition: max-height 1s ease;
}

.panel input {
  display: none;
}

.panel input[type="radio"]:checked ~ label h2 {
  background-color: #007fff;
  border: 1px solid #003eff;
  color: white;
}

.panel input[type="radio"]:checked ~ label h2:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: '\f078';
  color: white;
  margin-right: 0.5rem;
}

.panel h2:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: '\f054';
  font-size: 1em;
  margin-right: 0.5rem;
}

/* 
 * LOGO PICTURES GRID - FRONT END AND BACK END 
 */
.programming-languages {
  width: 40vw;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  margin-left: 2vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 0.5fr 3rem 1fr 2rem;
      grid-template-rows: 0.5fr 3rem 1fr 2rem;
}

.programming-languages img {
  width: 100%;
  height: auto;
}

.backend-grid {
  grid-column-gap: 1rem;
}

.html-logo,
.postgres-logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.ps-logo,
.haskell-logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/ span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/ span 2;
}

.css-logo,
.erlang-logo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/ span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/ span 2;
}

@media screen and (max-width: 800px) {
  .banner-box h1,
  .banner-box h3 {
    width: 100%;
  }
  .list, .programming-languages {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 80%;
            flex: 1 1 80%;
    margin-bottom: 2rem;
  }
}

#projects {
  max-width: 100vw;
  height: 100vh;
  padding: 4.5rem;
  border-top: 2px solid rgba(24, 54, 97, 0.2);
}

.projects-wrapper {
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80%;
}

.projects-wrapper .project {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  position: relative;
  -webkit-transition: flex-grow 0.4s ease-in, -webkit-box-flex 0.4s ease-in;
  transition: flex-grow 0.4s ease-in, -webkit-box-flex 0.4s ease-in;
  transition: flex-grow 0.4s ease-in;
  transition: flex-grow 0.4s ease-in, -webkit-box-flex 0.4s ease-in, -ms-flex-positive 0.4s ease-in;
}

.projects-wrapper .project .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: flex-grow 0.4s ease-in, -webkit-box-flex 0.4s ease-in;
  transition: flex-grow 0.4s ease-in, -webkit-box-flex 0.4s ease-in;
  transition: flex-grow 0.4s ease-in;
  transition: flex-grow 0.4s ease-in, -webkit-box-flex 0.4s ease-in, -ms-flex-positive 0.4s ease-in;
}

.projects-wrapper .project .project-content:before {
  display: block;
  content: '';
  padding-top: 60%;
}

.projects-wrapper .project .project-content img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects-wrapper .project .project-content h3 {
  position: relative;
  z-index: 10;
}

.projects-wrapper .project .project-content h3 a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1.2em;
}

.projects-wrapper .project .project-content::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.projects-wrapper .project:hover {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

#contacts {
  max-width: 100vw;
  height: 100vh;
  border-top: 2px solid rgba(24, 54, 97, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contacts .container {
  border: 1px solid #a2a8d3;
  border-radius: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10rem auto;
  width: 50vw;
  height: 60vh;
  position: relative;
}

#contacts .container .half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

#contacts .container .half.alt {
  background: #c0d0df;
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

#contacts .container .half .label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

#contacts .container .form {
  background-color: white;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0 0 3rem -6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3rem -6px rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 100%;
  top: -45px;
  width: 50%;
  left: 5%;
  overflow: hidden;
  -webkit-transition: 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#contacts .container .form .form-inner {
  -webkit-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}

#contacts .container .form .form-inner h2 {
  text-align: center;
  color: #aaa;
  margin: 1.5rem;
}

#contacts .container .form .form-inner textarea {
  opacity: 0;
}

#contacts .container .form .form-inner textarea::-webkit-input-placeholder {
  font-family: "Montserrat";
}

#contacts .container .form .form-inner textarea:-ms-input-placeholder {
  font-family: "Montserrat";
}

#contacts .container .form .form-inner textarea::-ms-input-placeholder {
  font-family: "Montserrat";
}

#contacts .container .form .form-inner textarea::placeholder {
  font-family: "Montserrat";
}

#contacts .container .signup-trigger,
#contacts .container .contact-trigger {
  display: none;
}

#contacts .container .contact-trigger:checked ~ .form {
  left: 45%;
}

#contacts .container .contact-trigger:checked ~ .form .form-inner {
  margin-top: -110px;
}

#contacts .container .contact-trigger:checked ~ .form .form-inner .fname,
#contacts .container .contact-trigger:checked ~ .form .form-inner .lname,
#contacts .container .contact-trigger:checked ~ .form .form-inner h2 {
  opacity: 0;
  visibility: hidden;
}

#contacts .container .contact-trigger:checked ~ .form .form-inner textarea {
  opacity: 1;
}

#contacts .container .contact-trigger:checked ~ .form .button-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#contacts .container .input, #contacts .container textarea {
  font-family: "Montserrat";
  display: block;
  width: 70%;
  border: none;
  border-bottom: 1px solid #dadada;
  padding: 9px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  overflow: hidden;
}

#contacts .container .button {
  font-family: "Montserrat";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12em;
  height: 4em;
  position: relative;
  background: none;
  border: 2px solid transparent;
  border-radius: 3px;
  font-weight: 500;
  padding: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  overflow: hidden;
}

#contacts .container .button.contact, #contacts .container .button.signup {
  border: 2px solid #183661;
  color: #183661;
  margin-bottom: 50px;
}

#contacts .container .button.contact:hover, #contacts .container .button.signup:hover {
  background-color: #183661;
  color: #fff;
}

#contacts .container .button.contact:active, #contacts .container .button.signup:active {
  background-color: #a2a8d3;
}

#contacts .container .button.submit {
  display: block;
  width: 70%;
  background-color: #dd6b4d;
  border-color: #dd6b4d;
  color: #fff;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

#contacts .container .button-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media screen and (max-width: 900px) {
  #contacts {
    padding-top: 4.5rem;
  }
  #contacts .container {
    width: 90vw;
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  #contacts .container .form {
    position: absolute;
    width: 85%;
    height: auto;
    top: -45px;
    left: 10%;
    overflow: hidden;
  }
  #contacts .container .form-inner textarea {
    height: 200px;
  }
  #contacts .container .contact-trigger:checked ~ .form {
    top: 350px;
    left: 10%;
  }
}

.site-footer {
  background-color: #a2a8d3;
  height: 20vh;
  position: relative;
  z-index: -2;
}

.site-footer .footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  color: #183661;
  padding: 2rem;
}

.site-content,
.services-content {
  background-color: #e7eaf6;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 3px 5px #333;
          box-shadow: 0 3px 5px #333;
}
