@import url("https://fonts.googleapis.com/css?family=Lobster|Merienda:700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
html {
  overflow-y: scroll;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

.social-media-icons, #projects .projects-wrapper .project, #projects .projects-wrapper .project .project-content, #contacts .container .form .button {
  display: flex;
  justify-content: center;
  align-items: center; }

#projects .projects-wrapper .project .project-content::after, .site-header h1::after, .social-media-icons li::before, #projects .projects-wrapper .project .project-content:before, #contacts ul li::before {
  display: block;
  content: ''; }

#projects .projects-wrapper .project .project-content::after {
  position: absolute;
  top: 0;
  left: 0; }

.site-header, #services, #projects, #contacts {
  max-width: 100vw;
  height: 100vh; }

html {
  font-size: 12px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif; }
  @media (max-width: 700px) {
    html {
      font-size: 12px; } }
  @media (min-width: 701px) {
    html {
      font-size: 14px; } }
  @media (min-width: 991px) {
    html {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    html {
      font-size: 18px; } }

.font {
  font-family: "Merienda", cursive;
  font-size: 3em;
  color: #183661;
  position: relative;
  top: 1.2rem;
  left: 0.2rem; }

#nav-toggle span {
  display: none; }

.main-nav {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100vw;
  background: #dd6b4d; }
  .main-nav ul {
    display: flex; }
    .main-nav ul li {
      list-style: none outside;
      flex: 0 1 20%;
      text-align: center; }
      .main-nav ul li a {
        display: inline-block;
        color: aliceblue;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2rem;
        position: relative;
        outline: none; }
        .main-nav ul li a:before {
          display: inline-block;
          content: '';
          height: 10px;
          background: aliceblue;
          position: absolute;
          top: -0.5em;
          left: 0;
          right: 0;
          -webkit-transform: scale(0, 1);
                  transform: scale(0, 1);
          -webkit-transform-origin: left;
                  transform-origin: left;
          transition: -webkit-transform 250ms ease-in-out;
          transition: transform 250ms ease-in-out;
          transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out; }
        .main-nav ul li a:focus::before, .main-nav ul li a:hover::before {
          -webkit-transform: scale(1, 1);
                  transform: scale(1, 1); }

@media screen and (max-width: 750px) {
  .main-nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgba(250, 250, 250, 0.8);
    align-items: center;
    justify-content: center;
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out; }
    .main-nav ul {
      display: block; }
      .main-nav ul li {
        display: block;
        list-style: none outside;
        padding: 1em 0;
        opacity: 1; }
        .main-nav ul li a {
          display: block;
          background-color: #fff;
          color: #dd6b4d;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          padding: 1em 2em;
          opacity: 0;
          transition: opacity 200ms ease-in-out; }
          .main-nav ul li a:before {
            height: 5px;
            background: #dd6b4d; }
  #nav-main-toggle {
    display: none; }
  #nav-toggle {
    color: #dd6b4d;
    position: fixed;
    top: 2rem;
    left: 2rem;
    z-index: 1000;
    font-size: 2rem; }
    #nav-toggle:before {
      content: '\f0c9';
      color: #dd6b4d; }
  #nav-main-toggle:checked ~ .main-nav {
    display: flex;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  #nav-main-toggle:checked + #nav-toggle::before {
    content: '\f00d';
    color: #dd6b4d; }
  #nav-main-toggle:checked ~ .main-nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms; } }

.section-header h2 {
  font-size: calc($h2-size - 0.5em); }

.section-header h2, .section-header p {
  color: #183661;
  text-align: center; }

.section-header p {
  width: 90%;
  font-size: 1.2em;
  margin: 0 auto; }

.site-header {
  background: linear-gradient(rgba(231, 234, 246, 0.5), rgba(231, 234, 246, 0.7)), center/cover url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/pattern_(3).svg") no-repeat;
  color: #183661;
  display: grid;
  grid-template-rows: repeat(3, 1fr); }
  .site-header h1 {
    font-size: 2.9em;
    grid-row: 1 / span 1;
    position: relative; }
    .site-header h1::after {
      width: 120px;
      height: 120px;
      background: url("https://image.flaticon.com/icons/svg/1553/1553422.svg") center no-repeat;
      background-size: cover;
      position: absolute;
      bottom: -20%;
      left: calc(50% - 60px);
      -webkit-filter: drop-shadow(0 1.2rem 0.7rem rgba(52, 68, 138, 0.5));
              filter: drop-shadow(0 1.2rem 0.7rem rgba(52, 68, 138, 0.5)); }
  .site-header h1, .site-header p {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    position: relative; }
  .site-header p {
    font-size: 1.3em;
    grid-row: 2 /span 1;
    align-self: center; }

@media screen and (max-width: 440px) {
  .site-header h1 {
    font-size: 1.93333em; }
  .site-header h1, .site-header p {
    margin-bottom: 2rem; }
  .site-header p {
    vertical-align: top; } }

.social-media-icons {
  grid-row: 3 /span 1; }
  .social-media-icons li::before {
    font-size: 1.5em;
    margin: 1rem; }
  .social-media-icons li.fa-facebook::before {
    content: '\f09a'; }
  .social-media-icons li.fa-instagram::before {
    content: '\f16d'; }
  .social-media-icons li.fa-twitter::before {
    content: '\f099'; }
  .social-media-icons li.fa-github::before {
    content: '\f09b'; }
  .social-media-icons li.fa-codepen::before {
    content: '\f1cb'; }
  .social-media-icons li a {
    display: block;
    color: #183661;
    padding: 1rem; }
    .social-media-icons li a .media-icon {
      display: none; }

@media screen and (min-width: 850px) {
  .site-header {
    grid-template-columns: 1fr 800px 1fr;
    grid-template-rows: repeat(2, 3rem) minmax(-webkit-min-content, 250px) 1fr 1fr;
    grid-template-rows: repeat(2, 3rem) minmax(min-content, 250px) 1fr 1fr; }
    .site-header h1 {
      font-size: 2.9em;
      grid-row: 3/ span 1;
      align-self: end;
      position: relative; }
      .site-header h1::after {
        display: block;
        content: '';
        width: 150px;
        height: 150px;
        background: url("https://image.flaticon.com/icons/svg/1553/1553422.svg") center no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 100%;
        left: calc(100% - 150px); }
    .site-header h1, .site-header p {
      width: 800px;
      grid-column: 2/ span 1; }
    .site-header p {
      margin-top: 2rem;
      grid-row: 4/ span 1; }
  .social-media-icons {
    grid-column: 2/ span 1;
    grid-row: 5/ span 1; } }

#about {
  background-color: #a2a8d3;
  border-top: 2px solid rgba(24, 54, 97, 0.2); }
  #about header {
    padding: 4rem 0;
    background-color: #e7eaf6; }

@media screen and (max-width: 500px) {
  section#about header {
    padding-top: 2rem; } }

article.section-one {
  padding: 1rem 2rem;
  background: #e7eaf6;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); }

.hexagon div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  text-align: center; }
  .hexagon div h2 {
    font-size: 2.2em;
    font-size: 1em; }
  .hexagon div a {
    text-decoration: none;
    color: #183661; }

.hexagon img {
  display: block;
  width: 60%;
  height: auto;
  margin: 1rem auto;
  -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
          clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }

.description {
  text-align: center; }
  .description h4 {
    font-size: 1.5em;
    margin-bottom: 2rem; }
  .description p {
    margin-bottom: 2rem; }
  .description p:last-child {
    margin-bottom: calc(7vw + $mb-general); }

article.section-two {
  padding: 1rem 2rem;
  background-color: #a2a8d3; }

/* 
 * FOR DEVICES WITH HOVER 
 */
@media (hover: hover) and (pointer: fine) {
  article.section-one {
    padding: 3rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
    overflow: hidden;
    clear: both; }
  article.section-two {
    overflow: hidden;
    clear: both; }
    article.section-two .hexagon {
      background-color: #e7eaf6;
      float: right; }
    article.section-two .description {
      text-align: right; }
  .hexagon:before {
    content: '';
    width: 30vmin;
    height: 30vmin;
    -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }
  .hexagon {
    background-color: #a2a8d3;
    position: relative;
    width: 40vmin;
    height: 35vmin;
    margin: 0 2rem;
    -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
            clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    float: left; }
    .hexagon img {
      width: 100%;
      height: auto;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      -webkit-clip-path: inherit;
              clip-path: inherit;
      transition: -webkit-transform 200ms ease-in 150ms;
      transition: transform 200ms ease-in 150ms;
      transition: transform 200ms ease-in 150ms, -webkit-transform 200ms ease-in 150ms; }
    .hexagon div {
      width: 20vmin;
      padding-top: 2rem;
      text-align: center; }
  .hexagon:hover img {
    -webkit-transform: translate(-50%, -50%) rotate(-110deg);
            transform: translate(-50%, -50%) rotate(-110deg); }
  .description {
    text-align: left;
    padding-left: 4rem; }
    .description p {
      width: 90%;
      margin-bottom: 1em; } }

#services {
  padding-top: 2rem;
  border-top: 2px solid rgba(24, 54, 97, 0.2); }
  #services .main-wrapper {
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem; }
    #services .main-wrapper .card-wrapper {
      border: 2px solid #a2a8d3;
      box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
      position: relative;
      overflow: hidden;
      margin-bottom: 2rem;
      text-align: center; }
      #services .main-wrapper .card-wrapper .service-card {
        height: 100%;
        display: flex;
        flex-direction: column; }
        #services .main-wrapper .card-wrapper .service-card .card-content {
          padding: 1.5rem; }
          #services .main-wrapper .card-wrapper .service-card .card-content h3 {
            margin-bottom: 1rem; }
        #services .main-wrapper .card-wrapper .service-card .card-overlay {
          display: flex;
          justify-content: space-between;
          border-top: 2px solid #a2a8d3;
          margin-top: auto; }
          #services .main-wrapper .card-wrapper .service-card .card-overlay a {
            display: block;
            flex-grow: 1;
            text-decoration: none;
            padding: 1.2rem 1.7rem;
            background-color: #e7eaf6;
            color: #183661;
            font-weight: 600; }
            #services .main-wrapper .card-wrapper .service-card .card-overlay a:last-child {
              border-left: 2px solid #a2a8d3; }
  @media screen and (min-width: 650px) {
    #services .main-wrapper {
      height: auto;
      padding: 2rem;
      flex-direction: row; }
      #services .main-wrapper .card-wrapper {
        margin-bottom: 0;
        margin: 1rem; }
        #services .main-wrapper .card-wrapper .card-content {
          padding: 0.5rem; } }
  @media screen and (max-height: 450px) {
    #services .main-wrapper {
      height: auto;
      flex-direction: row; }
      #services .main-wrapper .card-wrapper {
        margin-bottom: 0; }
        #services .main-wrapper .card-wrapper .card-content {
          padding: 0.5rem; } }
  @media (hover: hover) and (pointer: fine) {
    #services .main-wrapper {
      height: 60%;
      padding: 2rem; }
      #services .main-wrapper .card-wrapper {
        flex: 1 1 40%;
        margin: 2%; }
        #services .main-wrapper .card-wrapper .service-card {
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden; }
          #services .main-wrapper .card-wrapper .service-card .card-content, #services .main-wrapper .card-wrapper .service-card .card-overlay {
            position: absolute;
            width: 100%;
            height: 100%; }
          #services .main-wrapper .card-wrapper .service-card .card-overlay {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: rgba(162, 168, 211, 0.5);
            opacity: 0;
            transition: opacity 0.3s ease-in; }
            #services .main-wrapper .card-wrapper .service-card .card-overlay a {
              display: inline-block;
              flex-grow: 0;
              border-radius: 0.5rem;
              box-shadow: 0 0.5em 0.5em 0.1em rgba(0, 0, 0, 0.5);
              margin: 1rem 0; }
              #services .main-wrapper .card-wrapper .service-card .card-overlay a:active {
                box-shadow: 0 0.3em 0.5em 0.1em rgba(0, 0, 0, 0.2); }
        #services .main-wrapper .card-wrapper:hover .card-overlay {
          opacity: 1; } }
  @media screen and (min-width: 1100px) {
    #services .card-wrapper {
      flex: 1 1 25%;
      margin: 5%; }
    #services .card-content h3,
    #services .card-text {
      margin: 2rem; } }

.banner {
  max-width: 100vw;
  height: 50vh;
  position: relative; }
  .banner.backend {
    background: url("https://images.pexels.com/photos/159282/technology-servers-server-159282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") center/cover no-repeat; }
    .banner.backend .banner-box:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), center/cover url("https://images.pexels.com/photos/159282/technology-servers-server-159282.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
      -webkit-filter: blur(5px);
              filter: blur(5px); }
  .banner.frontend {
    background: url("https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80") center/cover no-repeat; }
    .banner.frontend .banner-box:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), center/cover url("https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&auto=format&fit=crop&w=1506&q=80") no-repeat;
      -webkit-filter: blur(2px);
              filter: blur(2px); }
  .banner .banner-box h1 {
    padding: 4rem 0 1rem 0; }
  .banner .banner-box h1,
  .banner .banner-box h3 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ededed;
    position: relative;
    z-index: 20; }

.services-content {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .services-content .list {
    width: 40vw;
    flex: 0 1 40%; }
    .services-content .list .panel {
      border: 1px solid #ccc;
      margin: 1px 0;
      border-radius: 3px;
      overflow: hidden; }
      .services-content .list .panel h2 {
        color: #454545;
        font-weight: 400;
        padding: 5px 10px;
        margin: 0;
        background-color: #f6f6f6;
        cursor: pointer; }
        .services-content .list .panel h2:hover {
          background-color: #ededed; }
      .services-content .list .panel div {
        max-height: 0px;
        margin: 0;
        overflow: hidden;
        transition: max-height 0.3s ease; }
        .services-content .list .panel div p {
          padding: 2rem; }
      .services-content .list .panel input[type="radio"]:checked ~ div {
        max-height: 500px;
        transition: max-height 1s ease; }
      .services-content .list .panel input {
        display: none; }
      .services-content .list .panel input[type="radio"]:checked ~ label h2 {
        background-color: #007fff;
        border: 1px solid #003eff;
        color: white; }
      .services-content .list .panel input[type="radio"]:checked ~ label h2:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: '\f078';
        color: white;
        margin-right: 0.5rem; }
      .services-content .list .panel h2:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: '\f054';
        font-size: 1em;
        margin-right: 0.5rem; }
  .services-content .programming-languages {
    width: 40vw;
    flex: 0 1 40%;
    margin-left: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 3rem 1fr 2rem; }
    .services-content .programming-languages img {
      width: 100%;
      height: auto; }
  .services-content .backend-grid {
    grid-column-gap: 1rem; }
  .services-content .html-logo,
  .services-content .postgres-logo {
    grid-row: 1 / span 2; }
  .services-content .ps-logo,
  .services-content .haskell-logo {
    grid-column: 2/ span 1;
    grid-row: 2/ span 2; }
  .services-content .css-logo,
  .services-content .erlang-logo {
    grid-column: 3/ span 1;
    grid-row: 3/ span 2; }
  @media screen and (max-width: 800px) {
    .services-content .banner-box h1,
    .services-content .banner-box h3 {
      width: 100%; }
    .services-content .list, .services-content .programming-languages {
      flex: 0 1 90%;
      margin-bottom: 2rem; } }

#projects {
  padding: 4rem 2rem;
  border-top: 2px solid rgba(24, 54, 97, 0.2); }
  @media (max-width: 700px) {
    #projects {
      padding-top: 1.6rem; } }
  #projects .projects-wrapper {
    padding-top: 1.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%; }
    #projects .projects-wrapper .project {
      flex-grow: 1;
      height: 50%;
      position: relative;
      transition: flex-grow 0.4s ease-in; }
      #projects .projects-wrapper .project .project-content {
        margin: 0.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
        overflow: hidden;
        position: relative;
        flex-grow: 1;
        transition: flex-grow 0.4s ease-in; }
        #projects .projects-wrapper .project .project-content:before {
          padding-top: 60%; }
        #projects .projects-wrapper .project .project-content img {
          width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        #projects .projects-wrapper .project .project-content a {
          position: relative;
          z-index: 10;
          text-decoration: none;
          color: aliceblue;
          font-size: 1.2em;
          font-weight: bold; }
        #projects .projects-wrapper .project .project-content::after {
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.4); }
      #projects .projects-wrapper .project:hover {
        flex-grow: 2; }

@media screen and (max-width: 450px) {
  #projects {
    height: auto; }
    #projects .projects-wrapper {
      flex-direction: column;
      height: 100%; }
      #projects .projects-wrapper .project {
        width: 100%; } }

@media (min-width: 451px) and (max-width: 750px) {
  .projects-wrapper {
    flex-direction: column;
    flex-wrap: wrap; }
    .projects-wrapper .project {
      width: 40%; } }

.banner {
  max-width: 100vw;
  height: 50vh;
  position: relative; }
  .banner.paper {
    background: url("https://images.unsplash.com/photo-1513705153361-9bc726c8db67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80") center/cover no-repeat; }
    .banner.paper .banner-box:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), center/cover url("https://images.unsplash.com/photo-1513705153361-9bc726c8db67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80") no-repeat;
      -webkit-filter: blur(3px);
              filter: blur(3px); }
  .banner .banner-box h1 {
    padding: 4rem 0 1rem 0; }
  .banner .banner-box h1,
  .banner .banner-box h3 {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #ededed;
    position: relative;
    z-index: 20; }

.project-page-content {
  padding: 2rem;
  position: relative; }
  .project-page-content .projects-card {
    width: 35%;
    position: absolute;
    top: -70px;
    right: 35px;
    background: #ffffff;
    border: 5px solid #dadada;
    border-radius: 0.5rem;
    padding: 1.5rem; }
    .project-page-content .projects-card ul {
      list-style: none outside; }
      .project-page-content .projects-card ul h3 {
        padding-bottom: 2rem; }
  .project-page-content .projects-text {
    width: 55%; }
    .project-page-content .projects-text p {
      margin-bottom: 1rem; }
  .project-page-content .testimonials {
    width: 90%;
    margin: 2rem auto;
    border: 2px solid #dadada; }
    .project-page-content .testimonials img {
      display: block;
      width: 200px;
      height: auto;
      border-radius: 50%;
      margin: 1rem auto; }
    .project-page-content .testimonials blockquote {
      width: 80%;
      margin: 0.5rem auto;
      border-left: 2px solid #dddddd;
      font-style: italic;
      padding-left: 1rem; }
      .project-page-content .testimonials blockquote p {
        margin-bottom: 1rem; }
      .project-page-content .testimonials blockquote p:nth-child(3) {
        text-align: right; }

#contacts {
  border-top: 2px solid rgba(24, 54, 97, 0.2);
  padding-top: 3rem; }
  @media (max-width: 700px) {
    #contacts {
      padding-top: 1.6rem; } }
  #contacts ul {
    display: flex;
    justify-content: center;
    list-style: none outside;
    width: 80%;
    margin: 1rem auto; }
    #contacts ul li {
      margin-left: 1rem;
      display: flex;
      align-items: center; }
      #contacts ul li::before {
        font-size: 1.5em;
        margin-right: 1rem;
        font-family: "Font Awesome 5 Free";
        font-weight: 700; }
      #contacts ul li.address::before {
        content: '\f3c5'; }
      #contacts ul li.phone::before {
        content: '\f3cd'; }
      #contacts ul li.email::before {
        content: '\f1fa'; }
  #contacts .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    position: relative; }
    #contacts .container iframe, #contacts .container .form {
      flex-basis: 40%; }
    #contacts .container .form {
      background-color: transparent;
      border: 2px solid #dadada;
      overflow: hidden;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      #contacts .container .form .name, #contacts .container .form .email {
        display: flex;
        align-items: center;
        width: 90%;
        margin-bottom: 1rem; }
        #contacts .container .form .name i, #contacts .container .form .email i {
          width: 3em;
          color: #183661;
          padding: 1rem; }
        #contacts .container .form .name input, #contacts .container .form .email input {
          font-family: "Montserrat";
          flex-grow: 1;
          padding: 1rem;
          border: none;
          border-bottom: 1px solid #dadada; }
          #contacts .container .form .name input:focus, #contacts .container .form .email input:focus {
            background-color: #999;
            outline: none; }
            #contacts .container .form .name input:focus::-webkit-input-placeholder, #contacts .container .form .email input:focus::-webkit-input-placeholder {
              color: white; }
            #contacts .container .form .name input:focus::-moz-placeholder, #contacts .container .form .email input:focus::-moz-placeholder {
              color: white; }
            #contacts .container .form .name input:focus:-ms-input-placeholder, #contacts .container .form .email input:focus:-ms-input-placeholder {
              color: white; }
            #contacts .container .form .name input:focus::-ms-input-placeholder, #contacts .container .form .email input:focus::-ms-input-placeholder {
              color: white; }
            #contacts .container .form .name input:focus::placeholder, #contacts .container .form .email input:focus::placeholder {
              color: white; }
      #contacts .container .form textarea {
        width: 90%;
        font-family: "Montserrat";
        padding: 1rem;
        border: none;
        border-bottom: 1px solid #dadada;
        resize: none; }
        #contacts .container .form textarea:focus {
          background-color: #999;
          outline: none; }
          #contacts .container .form textarea:focus::-webkit-input-placeholder {
            color: white; }
          #contacts .container .form textarea:focus::-moz-placeholder {
            color: white; }
          #contacts .container .form textarea:focus:-ms-input-placeholder {
            color: white; }
          #contacts .container .form textarea:focus::-ms-input-placeholder {
            color: white; }
          #contacts .container .form textarea:focus::placeholder {
            color: white; }
      #contacts .container .form .button {
        display: block;
        font-family: "Montserrat";
        background-color: #dd6b4d;
        border: 2px solid #dd6b4d;
        color: #fff;
        border-radius: 0.3rem;
        font-weight: 500;
        padding: 0.8rem 1.5rem;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto; }

@media screen and (max-width: 900px) {
  #contacts {
    height: auto; }
    #contacts ul {
      display: block;
      width: 50%;
      margin: 1rem auto; }
    #contacts .container {
      width: 90vw;
      margin: 0 auto;
      display: flex;
      flex-direction: column; }
      #contacts .container iframe {
        width: 100%;
        margin-bottom: 2rem; } }

.site-footer {
  background-color: #a2a8d3;
  height: 20vh;
  position: relative;
  z-index: -2; }
  .site-footer .footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    color: #183661;
    padding: 1rem; }

.site-content,
.services-content,
.project-page-content {
  background-color: #e7eaf6;
  position: relative;
  z-index: 1;
  box-shadow: 0 3px 5px #333; }
