:root {
    --font-family-base: 'Montserrat';
    --font-family-cursive: 'Merienda';

    --font-size-base: 12px;
    --font-size-tablet: 14px;
    --font-size-laptop: 16px;
    --font-size-desktop: 18px;

    --head1-size: 2.9em;
    --head2-size: 2.2em;
    --head3-size: 1.9em;
    --head4-size: 1.5em;
    --head5-size: 1.2em;
    --head6-size: 1.01em;
    
    --section-padding-top: 5rem;
    --margin-bottom-general: 2rem;
    --margin-text: 1rem 0;

    --color-text-header: #183661 ;
    --color-text-alternative: ;
    --color-bgrd-main: #e7eaf6;
    --color-bgrd-secondary: #a2a8d3;

}