@import url('https://fonts.googleapis.com/css?family=Lobster|Merienda:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

@import './modules/reset';
@import './modules/variables';
@import './modules/abstracts';
@import './modules/typography';

@import './components/navigation';
@import './components/section-header';

@import './sections/site-header';
@import './sections/about-section';
@import './sections/services-section';
@import './sections/projects-section';
@import './sections/contacts-section';
@import './sections/site-footer';


.site-content,
.services-content {
    background-color: $color-bgrd-main;
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 5px #333;
}
