#about {
    background-color: $color-bgrd-secondary;
    border-top: 2px solid rgba(24, 54, 97,0.2);

    header {
        padding: $section-pt 0;
        background-color: $color-bgrd-main;
    }
}

@media screen and (max-width: 500px) {
    section#about header{
        padding-top: $section-pt / 2;
    }
}

article.section-one {
    padding: 1rem 2rem;
    background: $color-bgrd-main;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); 
}

.hexagon {
    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem auto;
        text-align: center;

        h2 {
            font-size: $h2-size;
            font-size: 1em;
        }

        a {
            text-decoration: none;
            outline: none;
            color: $color-text-header;

            &:hover, &:focus {
                color: $color-details;
            }
        }
    }

    img {
        display: block;
        width: 60%;
        height: auto;
        margin: 1rem auto;
        clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
        shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    }
}

.description {
    text-align: center;

    h4 {
        font-size: $h4-size;
        margin-bottom: $mb-general;
    }

    p {
        margin-bottom: $mb-general;
    }

    p:last-child {
        margin-bottom: calc(7vw + $mb-general);
    }
        
}

article.section-two {
    padding: 1rem 2rem;
    background-color: $color-bgrd-secondary;
}


/* 
 * FOR DEVICES WITH HOVER 
 */
 

@media (hover: hover) and (pointer: fine) {
    
    article.section-one {
        padding: 3rem;
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
        overflow: hidden;
        clear: both;
    }

    article.section-two {
        overflow: hidden;
        clear: both;

        .hexagon {
            background-color: $color-bgrd-main;
            float: right;
        }

        .description {
            text-align: right;
        }
    }

    .hexagon:before {
        content: '';
        width: 30vmin;
        height: 30vmin;
        clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);   
    }

    .hexagon {
        background-color: $color-bgrd-secondary; 
        position: relative;
        width: 40vmin;
        height: 35vmin;
        margin: 0 $mb-general;
        clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
        shape-outside: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
        float:left;

        img {
            width: 100%;
            height: auto;
            margin: 0;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: 0% 50%;
            clip-path: inherit;
            transition: transform 200ms ease-in 150ms;
        }

        div {
            width: 20vmin;
            padding-top: 2rem;
            text-align: center;
        }
    }    

    .hexagon:hover img {
        transform: translate(-50%, -50%) rotate(-110deg);
    }

    .description {
        text-align: left;
        padding-left: 4rem;

        p {
            width: 90%;
            margin-bottom: 1em;
        }
    }

}