
.site-header {
    @extend %section-dimensions;
    background: linear-gradient(rgba(231, 234, 246,0.5),rgba(231, 234, 246,0.7)) , center / cover url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/121761/pattern_(3).svg') no-repeat;
    color: $color-text-header;
    display: grid;
    grid-template-rows: repeat(3,1fr);

    h1 {
        font-size: $h1-size;
        grid-row: 1 / span 1;
        position: relative;

        &::after {
            @extend %pseudo-elements;
            width: 120px; height: 120px;
            background: url('https://image.flaticon.com/icons/svg/1553/1553422.svg') center no-repeat;
            background-size: cover;
            position: absolute;
            bottom: -20%; left: calc(50% - 60px);
            filter: drop-shadow(0 1.2rem 0.7rem rgba(52, 68, 138, 0.5));
        }
    }

    h1, p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        position: relative;
    }

    p {
        font-size: 1.3em;
        grid-row: 2 /span 1;
        align-self: center; 
    }
}

@media screen and (max-width: 440px) {
    .site-header {
    
        h1 { font-size: $h1-size / 1.5; }

        h1, p { margin-bottom: $mb-general; }

        p { vertical-align: top; }
    }
}

.social-media-icons  {
    grid-row: 3 /span 1;
    @extend %flex-centered;

    li {
        list-style-type: none;

        a {
        display: inline-block;
        color: $color-text-header;
        padding: 1rem;
        outline: none;

            .media-icon {
                display: none;
            }

            &::before {
                display: inline-block;
                content: '';
                font-size: 1.5em;
                margin: 1rem;
            }
    
            &.fa-facebook::before {
                content: '\f09a';
            }
    
            &.fa-instagram::before {
                content: '\f16d';
            }
            &.fa-twitter::before {
                content: '\f099';
            }
            &.fa-github::before {
                content: '\f09b';
            }
            &.fa-codepen::before {
                content: '\f1cb';
            }

            &:hover, 
            &:focus {
                color: $color-details;
            }
            
        }
    }
}

@media screen and (min-width: 850px) {

    .site-header {
        grid-template-columns: 1fr 800px 1fr;
        grid-template-rows: repeat(2,3rem) minmax(min-content, 250px) 1fr 1fr;

        h1 {
            font-size: $h1-size;
            grid-row: 3/ span 1;
            align-self: end;
            position: relative;

            &::after {
                display: block;
                content: '';
                width: 150px; height: 150px;
                background: url('https://image.flaticon.com/icons/svg/1553/1553422.svg') center no-repeat;
                background-size: cover;
                position: absolute;
                top: 0; right: 0; bottom: 100%; left: calc(100% - 150px);
            }
        }

        h1, p {
            width: 800px;
            grid-column: 2/ span 1;
        }

        p {
            margin-top: 2rem;
            grid-row: 4/ span 1;
        }
    }

    .social-media-icons {
        grid-column: 2/ span 1;
        grid-row: 5/ span 1;
    }

}

