.section-header  {
    h2 {
        font-size: calc($h2-size - 0.5em);
    }

    h2, p {
        color: $color-text-header;
        text-align: center;
    }

    p {
        width: 90%;
        text-align: center;
        font-size: 1.2em;
        margin: 0 auto;
    }
    
}