
$widths: (
    'phone' : ( max-width: 700px ),
    'tablet' : ( min-width: 701px),
    'laptop' : ( min-width: 991px),
    'desktop' : ( min-width: 1200px)
) !default;


@mixin screen-width($width) {
    @if map-has-key($widths, $width) {
        @media #{inspect(map-get($widths, $width))} {
            @content;
        }
    }

    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$width}`. "
            + "Available widths are: #{map-keys($widths)}.";
    }
}

html {
    font-size: $fs-base;
    line-height: 1.5;
    font-family: $ff-base, sans-serif;
    
    @include screen-width('phone') { font-size: $fs-base; }

    @include screen-width('tablet') { font-size: $fs-tablet; }

    @include screen-width('laptop') { font-size: $fs-laptop; }

    @include screen-width('desktop') { font-size: $fs-desktop; }

}

.font {
    font-family: $ff-cursive, cursive;
    font-size: 3em; 
    color: $color-text-header;
    position: relative;
    top: 1.2rem; left: 0.2rem
}

